{% extends 'base.html.twig' %}

{% block title %}Profil uživatele {{ user.username }}{% endblock %}


{% block body %}
    <a class="btn btn-secondary" href="{{ path('device_list') }}">Zpět na seznam</a>
    <hr>
    <h2 class="page-header">{{ user.username }} , ID: {{ user.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item">E-mail: {{ user.email }}</li>
        <li class="list-group-item">Heslo: *****</li>
    </ul>
{% endblock %}