{% extends 'base.html.twig' %}

{% block title %}Seznam uživatelů{% endblock %}

{% block body %}
    <h2 class="page-header">Seznam Uživatelů</h2>
    <hr>
    <a class="btn btn-secondary" href="{{ path('user_add') }}">Přidat uživatele</a>
    <hr>
    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/users/detaily/{{ user.id }}" class="btn btn-success">Zobrazit</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/users/upravit/{{ user.id }}" class="btn btn-primary">Upravit</a>
                        <a href="/users/odstranit/{{ user.id }}" class="btn btn-danger">Odstranit</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Název</th>
            <th>Kategorie</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <script>
        $(document).ready(function() {
            $('#table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Czech.json"
                }
            });
        } );
    </script>

{% endblock %}