{% extends 'base.html.twig' %}

{% block title %}Detaily přístroje {{ device.name }}{% endblock %}


{% block body %}
    <a class="btn btn-secondary" href="{{ path('device_list') }}">Zpět na seznam</a>
    <hr>
    <h2 class="page-header">{{ device.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Kategorie: {{ device.category.name }}</li>
        <li class="list-group-item">Umístění: {{ device.location.name }}</li>
        <li class="list-group-item">Číslo uložení: {{ device.location.shortcut }}/{{ device.number }}</li>
        <li class="list-group-item">Datum přidání: {{ device.date|date("d/m/Y") }}</li>
        <li class="list-group-item">Přidáno uživatelem: {{ device.addedBy }}</li>
    </ul>
{% endblock %}